# =========================
# DATA (VERY IMPORTANT)
# =========================
Data/


# =========================
# MACOS
# =========================
.DS_Store

# =========================
# PYTHON
# =========================
__pycache__/
*.pyc
*.pyo
*.pyd

# =========================
# JUPYTER
# =========================
.ipynb_checkpoints/

# =========================
# VIRTUAL ENVIRONMENTS
# =========================
incomplete_test_env/


# =========================
# LOGS / TEMP FILES
# =========================
*.log
tmp/
temp/

